<% provide(:title, 'All users') %>
<<<<<<< HEAD
<h1>All users </h1>

<%= will_paginate %> 

<ul class="users">
	<% @users.each do |user| %>
		<%= render @users %>
	<% end %>
</ul>

<%= will_paginate %>

=======
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
>>>>>>> 7a4ab8fb42ad8330c565974e3561a9714f3594ba
